:root {
	--danger: #dc3545;
	--target: #ba9dbf;
}

body {
	margin-top: 0px;
	padding-top: 5px;
}

pre {
	text-align: start;
}

.image {
	display: block;
	width: auto;
	height: auto;
	max-width: 200px;
	max-height: 100px;
}

.fileThumb--item {
	height: 66px;
	width: 125px;
}

.hidden {
	display: none !important;
}

.postContainer,
#reply {
	text-align: left;
}

.postMessage {
	margin: 15px 40px;
}

.navLinks {
	display: flex;
	justify-content: space-between;
}

.tripcode {
	display: inline-block;
	vertical-align: bottom;
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.al_left {
	text-align: left;
}

.board {
	margin-left: 20px;
}

table.postForm > tbody > tr > td > input[name="subject"] {
	width: 244px;
}

pre {
	text-align: left;
}

.invalid-feedback {
  width: 100%;
  margin-top: .25rem;
  font-size: .875em;
  color: var(--danger);
}

.break {
	display: block;
	flex-basis: 100%;
}

#quickReply {
  display: block;
  position: fixed;
  padding: 2px;
  font-size: 10pt;
	top: 50%;
	right: 0;
	border: 1px solid black;
}

.quotePost {
	cursor: pointer;
}

.pagelist div.prev,
.pagelist div.next {
	padding: 4px;
}
